on:
  release:
    types: [published]
  workflow_dispatch:

name: Bump Homebrew Formula

permissions:
  contents: read

jobs:
  bump-homebrew-formula:
    name: Bump Homebrew Formula
    runs-on: macos-latest
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@v7
        with:
            formula: timetree-exporter
            tap: eoleedi/tap
            no_fork: true
            tag: ${{github.ref}}
            token: ${{ secrets.HOMEBREW_FORMULA_TOKEN }}
