on:
  workflow_run:
    workflows: ["Upload Python Package"]
    types:
      - completed
  workflow_dispatch:

name: Bump Homebrew Formula

jobs:
  bump-hoomebrew-formula:
    name: Bump Homebrew Formula
    runs-on: macos-latest
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@v4
        with:
            formula: timetree-exporter
            tap: eoleedi/tap
            no_fork: true
            tag: ${{github.ref}}
            token: ${{ secrets.HOMEBREW_FORMULA_TOKEN }}
