name: Linting and Testing

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Analyse the code with pylint
        run: uv run pylint $(git ls-files '*.py')
      - name: Run tests
        run: uv run pytest tests
      - name: Generate Coverage Report
        run: uv run coverage report -m
